:host {
    border: 1px solid #333;
    border-radius: 2px;
    padding: 4px;
    background: #fff;
}

:host-context(.warning) small {
    color: #f00;
}
:host-context(.caution) small {
    color: #ffa500;
}

/*:host small {
    color: #ff0000;
}*/

input {
    border: none;
    height: 20px;
}

.icon {
    font-size: 18px;
    padding-left: 15px;
    padding-right: 12px;
}

